{{> components/partners-logo-loop}} 

{{> components/footer-cta}}

<footer class="footer">
    <div class="wrapper">
        <div class="footer__main">
            <div class="footer__column">
                {{> icons/logo classes='logo--light'}}
                <p>
                    CitizenX™
                    <br>
                    Bahnhofstrasse 20 
                    <br>
                    6300 Zug, Switzerland
                </p>
                <p>The CitizenX logo and the CitizenX rose are registered trademarks of the company.</p>
            </div>
            <div class="footer__column">
                <span>Company</span>
                <ul class="class">
                    <li>
                        <a href="https://citizenx.com/about">About</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/@citizenxpodcast">Podcast</a>
                    </li>
                    <li>
                        <a href="https://lu.ma/user/citizenx">Events</a>
                    </li>
                    <li>
                        <a href="https://jobs.polymer.co/citizenx">Careers</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <span>Discover</span>
                <ul class="class">
                    <li>
                        <a href="https://citizenx.com/pricing">Pricing</a>
                    </li>
                    <li>
                        <a href="https://citizenx.com/how-it-works">How it works</a>
                    </li>
                    <li>
                        <a href="https://citizenx.com/how-it-works#security">Privacy and security</a>
                    </li>
                    <li>
                        <a href="https://citizenx.com/compare">Citizenship comparison</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <span>Insights</span>
                <ul class="class">
                    <li>
                        <a href="https://citizenx.com/blog">Articles</a>
                    </li>
                    <li>
                        <a href="https://citizenx.com/crypto">Crypto</a>
                    </li>
                    <li>
                        <a href="https://citizenx.com/golden-visa">Golden visa</a>
                    </li>
                    <li>
                        <a href="https://citizenx.com/renounce-citizenship">Citizenship renunciation</a>
                    </li>
                    <li>
                        <a href="https://citizenx.com/citizenship-investment">Citizenship by investment</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <span>Research</span>
                <ul class="class">
                    <li>
                        <a href="https://citizenx.com">Capital exodus</a>
                    </li>
                    <li>
                        <a href="https://citizenx.com/dual-citizenship">Dual citizenship</a>
                    </li>
                    <li>
                        <a href="https://citizenx.com/biggest-bitcoin-holders">Bitcoin holders index</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__middle">
            {{> icons/footer-sw-icon}}
            <p>CitizenX is a technology service providing legal information and access to self-service tools. We are not a law firm and do not provide legal, tax, or accounting advice. If you have unique considerations, please talk with a lawyer in your jurisdiction before proceeding.</p>
        </div>
        <div class="footer__bottom">
            <p>
                <span>© 2024</span>
                <span>·</span>
                <span>CitizenX</span>
                <a href="https://www.figma.com/exit?url=https%3A%2F%2Fcitizenx.com%2Fterms-of-service"> Terms of service</a>
                <a href="https://publish.obsidian.md/citizenx/Privacy+Policy">Privacy Policy</a>
            </p>
            <div>
                <a aria-label="company twitter(x) page" href="https://x.com/citizenx">{{> icons/twitter}}</a>
                <a aria-label="company youtube page" href="https://www.youtube.com/@citizenxpodcast">{{> icons/youtube}}</a>
                <a aria-label="company facebook page" href="https://www.facebook.com/CitizenX/">{{> icons/facebook}}</a>
                <a aria-label="company linkedin page" href="https://www.linkedin.com/company/citizenx/">{{> icons/linkedin}}</a>
            </div>
        </div>
    </div>
</footer>
