{{!< default}}

{{#author}}

<section class="author">
    <div class="wrapper">
        {{> components/author/hero}}

    </div>

    {{> components/partners-logo-loop}} 

    <div class="wrapper">

        {{> components/loop filter='author:{{slug}}'}}
    </div>
</section>


{{/author}}