<article class="card card--default card-skeleton">
<picture>
<div class="card__image">
</div>
</picture>
    
<h2 class="card__title">
    A Guide to St. Kitts and Nevis Citizenship by Investment
</h2>

<p class="card__subtitle">Saint Kitts and Nevis, a beautiful twin-island nation in the Caribbean, is home to the world’s oldest and most respected Citizenship by Investment programs.</p>
    
<div class="card__footer">
    <span class="card__author">Alex Recouso</span>
    <span class="card__time"><time datetime="2024-11-18T10:25:46.000Z">Nov 18</time></span>
    
    <span class="card__tag">
        <small>·</small>
        Citizenship Investment
    </span>

</div>
</article>