<article class="card card--minimal">
    <div>
        <h3 class="card__title">{{title}}</h3>
        {{content}}
    </div>
    <img class="card__image" src="{{feature_image}}" alt="{{title}}">
</article>