/* Aeonik Mono -------------------------------------------------------------- Aeonik Mono */

@font-face {
    font-family: "Aeonik Mono";
    src: url('/assets/fonts/AeonikMono/AeonikMono-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Aeonik Mono";
    src: url('/assets/fonts/AeonikMono/AeonikMono-Medium.otf');
    font-weight: 500;
    font-style: normal;
}


/* Editor's Note -------------------------------------------------------------- Editor's Note */ 


@font-face {
    font-family: "Editor's Note";
    src: url('/assets/fonts/EditorsNote/Editor\'sNote-Semibold.otf');
    font-weight: 600;
    font-style: normal;
}

/* Inter -------------------------------------------------------------- Inter */ 

@font-face {
    font-family: "Inter";
    src: url('/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
    font-style: normal;
}


/* Inter Tight -------------------------------------------------------------- Inter Tight */ 

@font-face {
    font-family: "Inter Tight";
    src: url('/assets/fonts/InterTight/InterTight-VariableFont_wght.ttf');
    font-style: normal;
}

/* FK Roman Standard -------------------------------------------------------------- FK Roman Standard */ 

@font-face {
    font-family: "FK Roman Standard";
    src: url('/assets/fonts/FKRomanStandard/FKRomanStandard-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "FK Roman Standard";
    src: url('/assets/fonts/FKRomanStandard/FKRomanStandard-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

/* FK Roman Display -------------------------------------------------------------- FK Roman Display */ 

@font-face {
    font-family: "FK Roman Display";
    src: url('/assets/fonts/FKRomanDisplay/FKRomanDisplay-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}