.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    transition: all .2s;

    &--author {
        max-width: 37.5rem;
        margin-top: 1.6rem;
    }

    &__main {
        display: flex;
        width: 100%;
        align-items: center;
        column-gap: 1.6rem;
    }

    label span {
        position: absolute;
        opacity: 0;
    }

    label {
        width: 100%;
        flex-grow: 1;
    }

    input {
        width: 100%;

        border-radius: .8rem;
        border: 1px solid #EDF0F3;
        background: #FFF;

        padding: .7rem .8rem;

        font-family: "Inter";
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2; /* 200% */

        transition: all .3s;
    }

    input::placeholder {
        font-family: "Inter";
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2; /* 200% */
        color: rgba(86, 104, 140, 0.50);
    }

    input:focus-visible {
        border: 1px solid rgba(86, 104, 140, 0.50);;
        outline: none;
    }

    button > svg path {
        fill: #fff;
        stroke: #fff;
    }

    button > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: none;
        visibility: hidden;
    }

    &.loading button > svg {
        display: block;
        visibility: visible;
    }

    button.button {
        min-width: max-content;
        font-weight: 600;
        line-height: 2;
        padding: .7rem 1.3rem;
        position: relative;
        font-family: 'Inter';
    }

    &.loading button.button {
        color: transparent;
    }

    &__notifications {
        margin-top: 1rem;
        width: 100%;
        text-align: center;

        display: none;
        visibility: hidden;
    }

    &--author &__notifications {
        position: absolute;
        top: calc(100% + .8rem);

        @media (max-width:600px) {
            top: calc(100% + .4rem);
        }
    }

    &.error &__notifications,
    &.success &__notifications {
        visibility: visible;
        display: block;
        animation: fadeIn .6s;
    }

    &.error .error,
    &.success .success {
        display: block;
    }

    &__notifications .success {
        color: var(--color-success);
        display: none;
    }

    &__notifications .error {
        color: var(--color-error);
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.header .form {
    margin-left: auto;
    width: max-content;

    /* @media (min-width:769px) {
        display: none;
        visibility: hidden;
    } */

    label {
        width: 0;
        max-width: 30rem;
        overflow: hidden;
        transition: .2s ease-out;

        @media (max-width:768px) {
            width: unset;
            max-width: 0;
        }
    }

    input {
        padding: .9rem .8rem;
    }
    
    button {
        padding: .8rem 1.3rem;
    }

    &.active label {
        width: 20vw;

        @media (max-width:768px) {
            width: unset;
            max-width: 90vw;
        }
    }

    &.active + .header-mobile-nav-target {
        display: none;
    }

    .form__notifications {
        position: absolute;
        top: calc(100% + .8rem);
        width: calc(100vw - 3.2rem);
        right: -.8rem;
        padding: .8rem;
        background-color: #fff;
        z-index: 98;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: .8rem;

        @media (min-width:769px) {
            width: max-content;
        }
    }

    .form__main {
        column-gap: 0;
    }

    &.active .form__main {
        column-gap: .8rem;
    }
    
}

.header.header--sticky form {
    .form__notifications {
        background-color: #fff;
        border-radius: .8rem;
        box-shadow: 0 8px 24px hsla(210, 8%, 62%, .2);
        padding: .8rem;
        position: absolute;
        right: 0;
        top: calc(100% + 1.6rem);
        width: max-content;
        z-index: 98;
    }
}