.header {
    padding-top: 1.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    position: relative;

    & > .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: .8rem;
        padding: .8rem .8rem .8rem 1.6rem;

        border-radius: 8px;
        background: #FFF;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        @media (max-width:768px) {
            column-gap: .8rem;
        }
    }
    .logo-link-container {
        line-height: 0;

        @media (max-width:768px) {
            margin-right: .8rem;
        }
    }

    .mobile-logo {
        display: flex;
        align-items: center;
        column-gap: .8rem;

        @media (min-width:769px) {
            display: none;
            visibility: hidden;
        }
    }

    .mobile-logo > svg:first-child {
        transition: all .1s ease-out;
        max-width: 30vw;
        opacity: 1;
    }

    .mobile-logo.active > svg:first-child {
        max-width: 0;
        opacity: 0;
    }

    .logo-link-container > svg {
        height: 2.8rem;
        width: auto;

        @media (max-width:768px) {
            display: none;
        }
    }

    .header-mobile-nav-target {
        display: none;
        border-radius: .8rem;
        border: 1.5px solid #E3E8ED;
        background: #FFF;
        cursor: pointer;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        padding: 1.2rem;
        transition: all .2s;
        max-width: 30vw;

        @media (max-width:768px) {
            display: flex;
        }

        & > svg:last-child {
            display: none;
        }

        &.active svg:last-child {
            display: block;
        }

        &.active svg:first-child {
            display: none;
        }
    }
}

.header.header--sticky {
    position: fixed;
    background-color: #fff;
    z-index: 10;
    top: -100%;
    width: 100%;
    padding: .8rem 0;
    transition: all .3s;

    box-shadow: none;
    padding: 0;
    border-radius: 0;

    .wrapper {
        border-radius: 0;
        box-shadow: none;
    }

    @media (min-width:1025px) {
        padding: 0;
    }

    & .mobile {
        @media (min-width:1025px) {
            display: none;
            visibility: hidden;
        }
    }

    & .desktop {
        @media (max-width:1024px) {
            display: none;
            visibility: hidden;
        }
    }

    .header__title {

        font-family: "FK Roman Display";
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal; /* 212.5% */
        letter-spacing: -0.32px;
    }

    .js-scroll-to-top {
        cursor: pointer;
    }
}

.progress-bar-container {
    height: 4px;
    background-color: #EDF0F3;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
}

.progress-bar {
    height: 4px;
    background-color: #020712;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
}

body.tag-template .header,
body.post-template .header {
    background-color: #fff;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (max-width:768px) {
        display: none;
        visibility: hidden;
    }

    &__main {
        display: flex;
        align-items: center;
        column-gap: 2.4rem;
        margin-left: 1.6rem;
    }

    &__main li a {
        color: #020712;
        font-family: 'Inter';
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: -0.32px;
        text-decoration: unset;
    }
    &__login-buttons {
        display: flex;
        align-items: center;
        column-gap: 0.8rem;
    }

    .button {
        display: flex;
        align-items: center;
        column-gap: 0.8rem;

        font-family: 'Inter';
        font-size: 1.6rem;
        letter-spacing: -0.32px;
    }

    .button--white {
        font-weight: 500;
    }

    .button--accent {
        font-weight: 600;
        color: #F8FCFF;
    }
}
