.header {
    padding-top: 2.4rem;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo-link-container {
        line-height: 0;
    }

    .logo-link-container > svg {
        height: 3.12rem;
        width: auto;
    }
}

.header.header--sticky {
    position: fixed;
    background-color: #fff;
    z-index: 10;
    top: -100%;
    width: 100%;
    padding: .8rem 0;
    transition: all .3s;

    @media (min-width:1025px) {
        padding: 0;
    }

    & .mobile {
        @media (min-width:1025px) {
            display: none;
            visibility: hidden;
        }
    }

    & .desktop {
        @media (max-width:1024px) {
            display: none;
            visibility: hidden;
        }
    }

    .header__title {

        font-family: "FK Roman Display";
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal; /* 212.5% */
        letter-spacing: -0.32px;
    }

    .js-scroll-to-top {
        cursor: pointer;
    }
}

.progress-bar-container {
    height: 4px;
    background-color: #EDF0F3;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
}

.progress-bar {
    height: 4px;
    background-color: #020712;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
}

body.tag-template .header,
body.post-template .header {
    background-color: #fff;
}

.header-nav {

    &__main {
        display: none;
        visibility: hidden;
    }
    &__login-buttons {
        display: flex;
        align-items: center;
        column-gap: 0.8rem;
    }

    .button {
        display: flex;
        align-items: center;
        column-gap: 0.8rem;
    }

    .button--white span {
        display: none;
    }

    .button--accent {
        font-weight: 600;
    }
}
