<div class="category-filter-container">
    <div class="wrapper">
        <ul class="category-filter">
            <li {{#is 'home'}}class="active"{{/is}}>
                <a href="/">{{> icons/categories/all}} <span>All</span></a>
            </li>
            <li {{#match active "=" 'citizenship-by-investment'}}class="active"{{/match}}>
                <a href="/tag/citizenship-by-investment"><span>Citizenship by Investment</span></a>
            </li>
            <li {{#match active "=" 'golden-visa'}}class="active"{{/match}}>
                <a href="/tag/golden-visa"><span>Golden Visa</span></a>
            </li>
            <li {{#match active "=" 'crypto'}}class="active"{{/match}}>
                <a href="/tag/crypto"><span>Crypto</span></a>
            </li>
        </ul>
    </div>
</div>