<section class="footer-cta">
    {{!-- <img class="footer-cta__bg" role="presentation" src="{{asset 'assets//images/footer-cta-bg.webp'}}" alt="Background image"> --}}
    <div class="wrapper">
        <h2 class="footer-cta__title">The future of citizenship.</h2>
        <p class="footer-cta__subtitle">Discover which passports meet your needs by answering questions about your net worth, preferences, and lifestyle.</p>
        {{> components/form classes='js-form-secondary' button='Sign up'}}
    </div>
</section>