<form data-members-form class="form">
    <div class="form__main">
        <label>
            <span>Email</span>
            <input placeholder="Enter your email" data-members-email type="email" required>
        </label>
        <button class="button button--accent">{{> icons/loader}} Receive updates</button>
    </div>
    <div class="form__notifications">
        <p class="error" data-members-error></p>
        <p class="success">Success! Check your inbox for our email.</p>
    </div>
</form>