<form class="form js-form {{classes}}">
    <div class="form__main">
        <label>
            <span>Email</span>
            <input placeholder="Enter your email" type="email" required>
        </label>
        <button class="button button--accent js-form-button">{{> icons/loader}} {{button}}</button>
    </div>
    <div class="form__notifications">
        <p class="error">Failed to subscribe. Please try again.</p>
        <p class="success">You have successfully subscribed!</p>
    </div>
</form>