<div class="articles-loop">
    <div class="wrapper">   
        {{#get "posts" limit='all' include='tags,authors' filter=filter}}
            {{#foreach posts}}
                {{> cards/card classes='card--default'}}
            {{/foreach}}
        {{/get}}
    </div>
</div>
