<div class="mobile-nav js-mobile-nav">
    <ul class="mobile-nav__list">
        <li>
            <a href="https://citizenx.com/how-it-works"><span>{{> icons/mobile-nav/why-us}}</span> <span>Why us</span></a>
        </li>
        <li>
            <a href="https://citizenx.com/pricing"><span>{{> icons/mobile-nav/pricing}}</span> <span>Pricing</span></a>
        </li>
        <li>
            <a href="https://citizenx.com/about"><span>{{> icons/mobile-nav/about}}</span> <span>About</span></a>
        </li>
        <li>
            <a href="https://citizenx.com/articles"><span>{{> icons/mobile-nav/articles}}</span> <span>Articles</span></a>
        </li>
        <li>
            <a href="https://home.citizenx.com/signin"><span>{{> icons/mobile-nav/sign-in}}</span> <span>Sign in</span></a>
        </li>
    </ul>
</div>