<div class="partners-logo-loop">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                {{> icons/partners/partner-1}}
            </div>
            <div class="swiper-slide">
                {{> icons/partners/partner-2}}
            </div>
            <div class="swiper-slide">
                {{> icons/partners/partner-3}}
            </div>
            <div class="swiper-slide">
                {{> icons/partners/partner-4}}
            </div>
            <div class="swiper-slide">
                {{> icons/partners/partner-5}}
            </div>
            <div class="swiper-slide">
                {{> icons/partners/partner-6}}
            </div>
            <div class="swiper-slide">
                {{> icons/partners/partner-7}}
            </div>
            <div class="swiper-slide">
                {{> icons/partners/partner-8}}
            </div>
            <div class="swiper-slide">
                {{> icons/partners/partner-9}}
            </div>
            <div class="swiper-slide">
                {{> icons/partners/partner-10}}
            </div>
            <div class="swiper-slide">
                {{> icons/partners/partner-11}}
            </div>
            <div class="swiper-slide">
                {{> icons/partners/partner-12}}
            </div>
        </div>
    </div>
</div>