<div class="partners-logo-loop">
    <div class="icon-slider">
        <div class="icon-track">
            <div class="">
                
            </div>
            {{> icons/partners/partner-1}}
            {{> icons/partners/partner-2}}
            {{> icons/partners/partner-3}}
            {{> icons/partners/partner-4}}
            {{> icons/partners/partner-5}}
            {{> icons/partners/partner-6}}
            {{> icons/partners/partner-7}}
            {{> icons/partners/partner-8}}
            {{> icons/partners/partner-9}}
            {{> icons/partners/partner-10}}
            {{> icons/partners/partner-11}}
            {{> icons/partners/partner-12}}
        </div>
    </div>
</div>