<div class="sidebar-container">
    <aside class="sidebar">
        <div class="sidebar__list js-toc"></div>
        <a class="button button--accent" href="#">{{> icons/chat}} Chat with Concierge</a>
        <div class="share-group">
            <span>Share in</span>
            <ul class="class">
                <li>
                    <a target="_blank" href="https://twitter.com/intent/tweet?text={{url absolute='true'}}">{{> icons/share/twitter}}</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}">{{> icons/share/facebook}}</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute='true'}}">{{> icons/share/linkedin}}</a>
                </li>
                <li>
                    <button class="js-copy-url">{{> icons/share/copy}}</button>
                </li>
            </ul>
        </div>
    </aside>
</div>