<div class="header header--sticky js-sticky-header">
    <div class="wrapper">
        <a href="/" class="logo-link-container mobile">
            {{> icons/logo classes='logo logo--dark'}}
        </a>

        <a href="/" class="logo-link-container desktop">
            {{> icons/symbol classes='symbol symbol--dark'}}
        </a>

        <h2 class="header__title desktop">{{title}}</h2>

        <nav class="header-nav mobile">
            <ul class="header-nav__login-buttons">
                <li>
                    <a class="button button--white" href="https://home.citizenx.com/signin">
                        {{> icons/login}}
                    </a>
                </li>
                <li>
                    <a class="button button--accent" href="https://home.citizenx.com/signin">
                        {{> icons/symbol}}
                        <span>Create account</span>
                    </a>
                </li>
            </ul>
        </nav>

        {{> icons/up classes='js-scroll-to-top desktop'}}

    </div>
    <div class="progress-bar-container js-progress-bar-container">
        <div class="progress-bar js-progress-bar"></div>
    </div>
</div>